# **<a id="Content">HnM RecSys Notebook 9417</a>**

## **<a id="Content">Table of Contents</a>**
* [**<span>1. Imports</span>**](#Imports)  
* [**<span>2. Pre-Processing</span>**](#Pre-Processing)
* [**<span>3. Exploratory Data Analysis</span>**](#Exploratory-Data-Analysis)  
    * [**<span>3.1 Articles</span>**](#EDA::Articles)  
    * [**<span>3.2 Customers</span>**](#EDA::Customers)
    * [**<span>3.3 Transactions</span>**](#EDA::Transactions)
* [**<span>4. Helper FunctionsDecorators</span>**](#Helper-Functions)
* [**<span>5. Models</span>**](#Models) 
    * [**<span>5.1 Popularity</span>**](#Popularity-Model)   
    * [**<span>5.2 ALS</span>**](#Alternating-Least-Squares)  
    * [**<span>5.2 GBDT</span>**](#GBDT)  
    * [**<span>5.3 SGD/similar</span>**](#SGD)  
    * [**<span>5.4 NN</span>**](#NN)

## Imports

In [212]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import os
import re
import warnings
# import cudf # switch on P100 GPU for this to work in Kaggle
# import cupy as cp

# Importing data
articles = pd.read_csv('articles.csv')
print(articles.head())
print("--")
customers = pd.read_csv('customers.csv')
print(customers.head())
print("--")
transactions = pd.read_csv("transactions_train.csv")
print(transactions.head())
print("--")

   article_id  product_code          prod_name  product_type_no
0   108775015        108775          Strap top              253  \
1   108775044        108775          Strap top              253
2   108775051        108775      Strap top (1)              253
3   110065001        110065  OP T-shirt (Idro)              306
4   110065002        110065  OP T-shirt (Idro)              306

  product_type_name  product_group_name  graphical_appearance_no
0          Vest top  Garment Upper body                  1010016  \
1          Vest top  Garment Upper body                  1010016
2          Vest top  Garment Upper body                  1010017
3               Bra           Underwear                  1010016
4               Bra           Underwear                  1010016

  graphical_appearance_name  colour_group_code colour_group_name  ...
0                     Solid                  9             Black  ...  \
1                     Solid                 10             White  ...
2                    Stripe                 11         Off White  ...
3                     Solid                  9             Black  ...
4                     Solid                 10             White  ...

   department_name index_code        index_name index_group_no
0     Jersey Basic          A        Ladieswear              1  \
1     Jersey Basic          A        Ladieswear              1
2     Jersey Basic          A        Ladieswear              1
3   Clean Lingerie          B  Lingeries/Tights              1
4   Clean Lingerie          B  Lingeries/Tights              1

   index_group_name section_no            section_name garment_group_no
0        Ladieswear         16  Womens Everyday Basics             1002  \
1        Ladieswear         16  Womens Everyday Basics             1002
2        Ladieswear         16  Womens Everyday Basics             1002
3        Ladieswear         61         Womens Lingerie             1017
4        Ladieswear         61         Womens Lingerie             1017

   garment_group_name                                        detail_desc
0        Jersey Basic            Jersey top with narrow shoulder straps.
1        Jersey Basic            Jersey top with narrow shoulder straps.
2        Jersey Basic            Jersey top with narrow shoulder straps.
3   Under-, Nightwear  Microfibre T-shirt bra with underwired, moulde...
4   Under-, Nightwear  Microfibre T-shirt bra with underwired, moulde...

[5 rows x 25 columns]
--
                                         customer_id   FN  Active
0  00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...  NaN     NaN  \
1  0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...  NaN     NaN
2  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...  NaN     NaN
3  00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...  NaN     NaN
4  00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...  1.0     1.0

  club_member_status fashion_news_frequency   age
0             ACTIVE                   NONE  49.0  \
1             ACTIVE                   NONE  25.0
2             ACTIVE                   NONE  24.0
3             ACTIVE                   NONE  54.0
4             ACTIVE              Regularly  52.0

                                         postal_code
0  52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1  2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2  64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3  5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4  25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
--
        t_dat                                        customer_id  article_id
0  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   663713001  \
1  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...   541518023
2  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   505221004
3  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687003
4  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...   685687004

      price  sales_channel_id
0  0.050831                 2
1  0.030492                 2
2  0.015237                 2
3  0.016932                 2
4  0.016932                 2
--

## Pre-Processing

In [213]:
# ----- empty value stats -------------
print("Missing values: ")
print(customers.isnull().sum())
print("--\n")

print("FN Newsletter vals: ", customers['FN'].unique())
print("Active communication vals: ",customers['Active'].unique())
print("Club member status vals: ", customers['club_member_status'].unique())
print("Fashion News frequency vals: ", customers['fashion_news_frequency'].unique())
print("--\n")

# ---- data cleaning -------------

customers['FN'] = customers['FN'].fillna(0)
customers['Active'] = customers['Active'].fillna(0)

# replace club_member_status missing values with 'LEFT CLUB' --> no members with LEFT CLUB status in data
customers['club_member_status'] = customers['club_member_status'].fillna('LEFT CLUB')
customers['fashion_news_frequency'] = customers['fashion_news_frequency'].fillna('None')
customers['fashion_news_frequency'] = customers['fashion_news_frequency'].replace('NONE', 'None')
customers['age'] = customers['age'].fillna(customers['age'].mean())
customers['age'] = customers['age'].astype(int)
articles['detail_desc'] = articles['detail_desc'].fillna('None')


print("Customers' Missing values: ")
print(customers.isnull().sum())
print("--\n")

Missing values:
customer_id                    0
FN                        895050
Active                    907576
club_member_status          6062
fashion_news_frequency     16011
age                        15861
postal_code                    0
dtype: int64
--

FN Newsletter vals:  [nan  1.]
Active communication vals:  [nan  1.]
Club member status vals:  ['ACTIVE' nan 'PRE-CREATE' 'LEFT CLUB']
Fashion News frequency vals:  ['NONE' 'Regularly' nan 'Monthly']
--

Customers' Missing values:
customer_id               0
FN                        0
Active                    0
club_member_status        0
fashion_news_frequency    0
age                       0
postal_code               0
dtype: int64
--

In [214]:
# ---- memory optimizations -------------

# reference: https://www.kaggle.com/arjanso/reducing-dataframe-memory-size-by-65

# iterate through all the columns of a dataframe and reduce the int and float data types to the smallest possible size, ex. customer_id should not be reduced from int64 to a samller value as it would have collisions
import numpy as np
import pandas as pd

def reduce_mem_usage(df):
    """Iterate over all the columns of a DataFrame and modify the data type
    to reduce memory usage, handling ordered Categoricals"""
    
    # check the memory usage of the DataFrame
    start_mem = df.memory_usage().sum() / 1024**2
    print("Memory usage of dataframe is {:.2f} MB".format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type == 'category':
            if df[col].cat.ordered:
                # Convert ordered Categorical to an integer
                df[col] = df[col].cat.codes.astype('int16')
            else:
                # Convert unordered Categorical to a string
                df[col] = df[col].astype('str')
        
        elif col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min >= np.iinfo(np.int8).min and c_max <= np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min >= np.iinfo(np.int16).min and c_max <= np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min >= np.iinfo(np.int32).min and c_max <= np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min >= np.iinfo(np.int64).min and c_max <= np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min >= np.finfo(np.float16).min and c_max <= np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min >= np.finfo(np.float32).min and c_max <= np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    
    # check the memory usage after optimization
    end_mem = df.memory_usage().sum() / 1024**2
    print("Memory usage after optimization is: {:.2f} MB".format(end_mem))

    # calculate the percentage of the memory usage reduction
    mem_reduction = 100 * (start_mem - end_mem) / start_mem
    print("Memory usage decreased by {:.1f}%".format(mem_reduction))
    
    return df

In [215]:
print("Articles Info: ")
print(articles.info())
print("Customer Info: ")
print(customers.info())
print("Transactions Info: ")
print(transactions.info())

Articles Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105542 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB
None
Customer Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  object
 1   FN                      1371980 non-null  float64
 2   Active                  1371980 non-null  float64
 3   club_member_status      1371980 non-null  object
 4   fashion_news_frequency  1371980 non-null  object
 5   age                     1371980 non-null  int32
 6   postal_code             1371980 non-null  object
dtypes: float64(2), int32(1), object(4)
memory usage: 68.0+ MB
None
Transactions Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB
None

In [216]:
# print unique values of customer columns
print("FN Newsletter vals: ", customers['FN'].unique())
print("Active communication vals: ",customers['Active'].unique())
print("Club member status vals: ", customers['club_member_status'].unique())
print("Fashion News frequency vals: ", customers['fashion_news_frequency'].unique())
print("--\n")

FN Newsletter vals:  [0. 1.]
Active communication vals:  [0. 1.]
Club member status vals:  ['ACTIVE' 'LEFT CLUB' 'PRE-CREATE']
Fashion News frequency vals:  ['None' 'Regularly' 'Monthly']
--

In [217]:
# explicitly convert club_member_status to ordinal values before mem optimization to avoid errors

customers['club_member_status'].replace({'LEFT CLUB': 0, 'PRE-CREATE': 1, 'ACTIVE': 2}, inplace=True)
customers['club_member_status'] = customers['club_member_status'].astype('int8')
print(customers['club_member_status'].unique())

[2 0 1]

In [218]:
# ---- memory optimizations -------------

# uses 8 bytes instead of given 64 byte string, reduces mem by 8x, 
# !!!! have to convert back before merging w/ sample_submissions.csv
# convert transactions['customer_id'] to 8 bytes int
# transactions['customer_id'] = transactions['customer_id'].astype('int64')
transactions['customer_id'] = transactions['customer_id'].apply(lambda x: int(x[-16:], 16)).astype('int64')
customers['customer_id'] = customers['customer_id'].apply(lambda x: int(x[-16:], 16)).astype('int64')

articles = reduce_mem_usage(articles)
customers = reduce_mem_usage(customers)
transactions = reduce_mem_usage(transactions)

# articles['article_id'] = articles['article_id'].astype('int32')
# transactions['article_id'] = transactions['article_id'].astype('int32') 
# # !!!! ADD LEADING ZERO BACK BEFORE SUBMISSION OF PREDICTIONS TO KAGGLE: 
# # Ex.: transactions['article_id'] = '0' + transactions.article_id.astype('str')

print("Articles Info: ")
print(articles.info())
print("Customer Info: ")
print(customers.info())
print("Transactions Info: ")
print(transactions.info())

Memory usage of dataframe is 20.13 MB
Memory usage after optimization is: 13.59 MB
Memory usage decreased by 32.5%
Memory usage of dataframe is 58.88 MB
Memory usage after optimization is: 39.25 MB
Memory usage decreased by 33.3%
Memory usage of dataframe is 1212.63 MB
Memory usage after optimization is: 697.26 MB
Memory usage decreased by 42.5%
Articles Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int32
 1   product_code                  105542 non-null  int32
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int16
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int32
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int8
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int8
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int8
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int16
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int8
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int8
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int16
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105542 non-null  object
dtypes: int16(3), int32(3), int8(5), object(14)
memory usage: 13.6+ MB
None
Customer Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  int64
 1   FN                      1371980 non-null  float16
 2   Active                  1371980 non-null  float16
 3   club_member_status      1371980 non-null  int8
 4   fashion_news_frequency  1371980 non-null  object
 5   age                     1371980 non-null  int8
 6   postal_code             1371980 non-null  object
dtypes: float16(2), int64(1), int8(2), object(2)
memory usage: 39.3+ MB
None
Transactions Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       int64
 2   article_id        int32
 3   price             float16
 4   sales_channel_id  int8
dtypes: float16(1), int32(1), int64(1), int8(1), object(1)
memory usage: 697.3+ MB
None

In [219]:
# print unique values of customer columns
print("FN Newsletter vals: ", customers['FN'].unique())
print("Active communication vals: ",customers['Active'].unique())
print("Club member status vals: ", customers['club_member_status'].unique())
print("Fashion News frequency vals: ", customers['fashion_news_frequency'].unique())
print("--\n")

FN Newsletter vals:  [0. 1.]
Active communication vals:  [0. 1.]
Club member status vals:  [2 0 1]
Fashion News frequency vals:  ['None' 'Regularly' 'Monthly']
--

## LightGBM

|Feature|LightGBM|XGBoost|CatBoost|
|:----|:----|:----|:----|
|Categoricals|Supports categorical features via one-hot encoding|Supports categorical features via one-hot encoding|Automatically handles categorical features using embeddings|
|Speed|Very fast training and prediction|Fast training and prediction|Slower than LightGBM and XGBoost|
|Handling Bias|Handles unbalanced classes via 'is_unbalance'|Handles unbalanced classes via 'scale_pos_weight'|Automatically handles unbalanced classes|
|Handling NaNs|Handles NaN values natively|Requires manual handling of NaNs|Automatically handles NaN values using special category|
|Custom Loss|Supports custom loss functions|Supports custom loss functions|Supports custom loss functions|

- Perform feature engineering using one-hot encoding or label encoding to encode the categorical features in the dataset.<br>
- Try different feature selection techniques, such as Recursive Feature Elimination (RFE) or SelectKBest, to select a smaller subset of features for the model.<br>
- Deal with class imbalance by adjusting the weights of the samples in the training set. Use the class_weights function from scikit-learn to calculate the weights based on the class distribution and pass them as - the weight parameter when creating the LightGBM datasets.<br>


- Use more advanced feature selection techniques such as feature importance analysis provided by LightGBM or PCA to reduce the dimensionality of the dataset and remove any multicollinearity. (??) <br> 
- Split the data into train and test sets using a time-based split based on the transaction date to avoid data leakage.<br>
  
- Train a LightGBM model on the training data using the selected features.<br>
  
- Experiment with different evaluation metrics to find the most appropriate one for your specific use case. For example, you could use the area under the ROC curve (AUC) or the F1-score if MAP does not perform well.<br>
- Use a time series cross-validation strategy to find the best hyperparameters for your model. This can be achieved using the TimeSeriesSplit function from scikit-learn instead of the default k-fold cross-validation.<br>
- Try different hyperparameters for the LightGBM model, such as the learning rate, number of estimators, max depth, etc., and use cross-validation to select the best combination of hyperparameters. (OR) <br> 
  - Bayesian optimization/Hyperopt to more efficiently search the hyperparameter space and find the optimal combination of hyperparameters.<br>
  
- Evaluate the model's performance on the val set using mean average precision (MAP) as the evaluation metric. (AUC or F1 ?/)<br>
- Once you have selected the best hyperparameters, train the final LightGBM model on the entire dataset using the selected features and hyperparameters.<br>
- Save the trained model for future use.<br>

To use LightGBM for a ranking problem, treat this as a binary classification problem where the target variable is whether an item is relevant or not to the user.

Then use LightGBM's ranking API, which is designed for ranking problems. Instead of optimizing for accuracy, the ranking API optimizes for ranking metric MAP.

In [220]:
# LightGBM imports

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.feature_selection import RFE
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import make_scorer
import lightgbm as lgb
from hyperopt import fmin, tpe, hp, STATUS_OK, Trials

In [221]:
# Dropping columns with uninformative article data

articles = articles.drop(columns=['product_code', 'prod_name', 'product_type_name', 'product_group_name', 'graphical_appearance_name', 'department_name', 'index_name', 'index_group_name', 'section_name', 'garment_group_name', 'detail_desc'])
articles = articles.drop(columns=[col for col in articles.columns if 'colour_' in col or 'perceived_' in col])

In [222]:
articles.head()

,article_id,product_type_no,graphical_appearance_no,department_no,index_code,index_group_no,section_no,garment_group_no
0,108775015,253,1010016,1676,A,1,16,1002
1,108775044,253,1010016,1676,A,1,16,1002
2,108775051,253,1010017,1676,A,1,16,1002
3,110065001,306,1010016,1339,B,1,61,1017
4,110065002,306,1010016,1339,B,1,61,1017

Thhese columns are left to capture any potential patterns in the other columns, such as how certain index codes or sections might be associated with higher or lower sales.

In [223]:
# Feature engineering
from sklearn.preprocessing import LabelEncoder

# Define mapping for fashion_news_frequency feature
fashion_news_freq_mapping = {'None': 0, 'Monthly': 1, 'Regularly': 2}

# label encode fashion_news_frequency feature
le = LabelEncoder()
customers['fashion_news_frequency'] = customers['fashion_news_frequency'].map(fashion_news_freq_mapping)
customers['fashion_news_frequency'] = le.fit_transform(customers['fashion_news_frequency'])

In [224]:
customers = customers.drop(['postal_code'], axis=1)
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
0,6883939031699146327,0.0,0.0,2,0,49
1,-7200416642310594310,0.0,0.0,2,0,25
2,-6846340800584936,0.0,0.0,2,0,24
3,-94071612138601410,0.0,0.0,2,0,54
4,-283965518499174310,1.0,1.0,2,2,52

In [225]:
# Feature engineering: encode nominal categorical features
ohe = OneHotEncoder()
sales_channel_encoded = ohe.fit_transform(transactions['sales_channel_id'].values.reshape(-1,1)).toarray()
sales_channel_encoded = pd.DataFrame(sales_channel_encoded, columns=['sales_channel_'+str(int(i)) for i in range(sales_channel_encoded.shape[1])])
transactions = pd.concat([transactions, sales_channel_encoded], axis=1)
transactions.drop('sales_channel_id', axis=1, inplace=True)

In [226]:
# Count: We can create features based on the count of user-item and user-category interactions in the last week/month/season/same week of last year/all. We can also use time-weighted counts to give more weight to recent interactions.

# Similarity: We can create features based on collaborative filtering scores of item-to-item and user-to-item interactions. We can also use cosine similarity scores of item-to-item based on word2vec embeddings, and cosine similarity scores of user-to-item based on ProNE embeddings.

In [227]:
# Convert 't_dat' column to datetime format
transactions['t_dat'] = pd.to_datetime(transactions['t_dat'])

# Group by customer ID and find the first and last transaction dates
first_trans_dates = transactions.groupby('customer_id')['t_dat'].min().reset_index()
last_trans_dates = transactions.groupby('customer_id')['t_dat'].max().reset_index()

customer_purchase_engagement = pd.merge(first_trans_dates, last_trans_dates, on='customer_id', suffixes=('_first', '_last'))
# Create a new feature by calculating the time difference in days between first and last transactions
customer_purchase_engagement['time_diff_days'] = (customer_purchase_engagement['t_dat_last'] - customer_purchase_engagement['t_dat_first']).dt.days
# Drop the original first and last transaction date columns
customer_purchase_engagement.drop(['t_dat_first', 't_dat_last'], axis=1, inplace=True)
customer_purchase_engagement.head()

# Merge the customer_purchase_engagement dataframe with the customers dataframe
customers = pd.merge(customers, customer_purchase_engagement, on='customer_id', how='left')
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,time_diff_days
0,6883939031699146327,0.0,0.0,2,0,49,618.0
1,-7200416642310594310,0.0,0.0,2,0,25,656.0
2,-6846340800584936,0.0,0.0,2,0,24,726.0
3,-94071612138601410,0.0,0.0,2,0,54,0.0
4,-283965518499174310,1.0,1.0,2,2,52,670.0

The above feature can potentially provide insights into a customer's engagement by looking at the gap in the number of days between the last purchase and the current date. <br> The assumption is, The larger the gap, the less engaged the customer is.

In [228]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_0,sales_channel_1
0,2018-09-20,-6846340800584936,663713001,0.050842,0.0,1.0
1,2018-09-20,-6846340800584936,541518023,0.030487,0.0,1.0
2,2018-09-20,-8334631767138808638,505221004,0.015236,0.0,1.0
3,2018-09-20,-8334631767138808638,685687003,0.016937,0.0,1.0
4,2018-09-20,-8334631767138808638,685687004,0.016937,0.0,1.0

In [229]:
# Join the transaction dataframe with the customers dataframe
merged = pd.merge(transactions, customers, on='customer_id', how='inner')

# Calculate the mean age for each article
item_mean_age = merged.groupby('article_id')['age'].mean()

# Calculate the difference between every user's age and the mean age of users who have purchased a particular item
merged['age_diff'] = merged['age'] - merged['article_id'].map(item_mean_age)

# Group by article and take the mean of age_diff
article_age_diff = merged.groupby('article_id')['age_diff'].mean()

# Append the age difference feature to the articles dataframe
articles['age_diff'] = articles['article_id'].map(article_age_diff)

articles.head()

,article_id,product_type_no,graphical_appearance_no,department_no,index_code,index_group_no,section_no,garment_group_no,age_diff
0,108775015,253,1010016,1676,A,1,16,1002,-2.032463e-15
1,108775044,253,1010016,1676,A,1,16,1002,-3.057784e-15
2,108775051,253,1010017,1676,A,1,16,1002,-2.478637e-15
3,110065001,306,1010016,1339,B,1,61,1017,1.388417e-15
4,110065002,306,1010016,1339,B,1,61,1017,-2.636522e-17

Mean age_diff for every article. It can be useful for predicting whether a user will buy an item based on their age and the age of other users who have already bought the same item. 

Intuituion behind the `age_diff` feature:

Let's say we have a dataset of customers who made transactions for a particular item with article_id = 123. Here is an example of how we can calculate the age_diff feature: <br>
Assume that the mean age of all customers who bought the item with article_id = 123 is 40 years old <br>
Customer A made a transaction for item with article_id = 123 and their age is 35. The age_diff feature for this transaction would be -5. (35 - 40). <br>
Customer B made a transaction for item with article_id = 123 and their age is 50. The age_diff feature for this transaction would be 10. (50 - 40). <br>
Customer C made a transaction for item with article_id = 123 and their age is 40. The age_diff feature for this transaction would be 0. (40 - 40). <br>
So, the age_diff feature measures the difference between the age of each customer who bought a specific item and the average age of all customers who bought that item. <br>

Therefore, the age_diff is the mean of all these individual age_diff values for each customer who bought the item with article_id = 123. age_diff = -1.66 for this example<br>

In [211]:
# Calculate mean, max, and min age for each item
item_mean_age = merged.groupby('article_id')['age'].mean()
item_max_age = merged.groupby('article_id')['age'].max()
item_min_age = merged.groupby('article_id')['age'].min()

# Merge the features back into the articles dataframe
articles = articles.merge(item_mean_age, on='article_id', how='left')
articles = articles.merge(item_max_age, on='article_id', how='left')
articles = articles.merge(item_min_age, on='article_id', how='left')

# Rename the columns to make them more descriptive
articles = articles.rename(columns={'age_x': 'mean_purchase_age', 'age_y': 'max_purchase_age', 'age': 'min_purchase_age'})

articles.head()

,article_id,product_type_no,graphical_appearance_no,department_no,index_code,index_group_no,section_no,garment_group_no,age_diff,mean_age,max_age,min_age
0,108775015,253,1010016,1676,A,1,16,1002,-2.032463e-15,34.477078,77.0,17.0
1,108775044,253,1010016,1676,A,1,16,1002,-3.057784e-15,36.063448,90.0,17.0
2,108775051,253,1010017,1676,A,1,16,1002,-2.478637e-15,35.395349,66.0,18.0
3,110065001,306,1010016,1339,B,1,61,1017,1.388417e-15,38.045977,76.0,18.0
4,110065002,306,1010016,1339,B,1,61,1017,-2.636522e-17,39.460111,75.0,18.0

Additional age features to capture more information about the age of the customers who bought the respective articles.

In [232]:
from sklearn.metrics.pairwise import cosine_similarity

# Create user-item matrix
# todo: create a quantity column with 1s for each transaction + sum up the quantity for each customer-article pair + normalize the quantity values?

# 1. pivot transaction table, customer_ids are rows, articles_ids are columns fill missing values with 0
user_item_matrix = transactions.pivot_table(index='customer_id', columns='article_id', values='quantity', fill_value=0)

# Compute item-item similarity using cosine similarity --> scores similarity based on customers who bought both items (regardless of quantity or time of purchase) 
item_similarities = cosine_similarity(user_item_matrix.T)

# Compute user-item similarity using cosine similarity --> scores similarity of users based on their purchase history
user_similarities = cosine_similarity(user_item_matrix)

k = 12
# Get top k most similar items for each item
# descending order + don't include the item itself
# contains the indices of the most similar items for each item in user_item_matrix
most_similar_items = np.argsort(-item_similarities)[:, :k] 

# Get top k most similar users for each user
most_similar_users = np.argsort(-user_similarities)[:, :k]


# Experiement to create v useful features

# try: weighted average of the most similar items based on the quantity purchased by the customer or,
# Create features for each item based on the average quantity purchased by customers who also bought the top k most similar items
for i in range(len(articles)):
    item_id = articles.loc[i, 'article_id']
    similar_items = most_similar_items[item_id]
    item_feature = user_item_matrix.loc[:, similar_items].mean(axis=1).values
    articles.loc[i, 'item_collab_feature'] = item_feature

# Create features for each user based on the average quantity purchased by similar users
for i in range(len(customers)):
    customer_id = customers.loc[i, 'customer_id']
    similar_users = most_similar_users[customer_id]
    user_feature = user_item_matrix.loc[similar_users, :].mean(axis=0).values
    customers.loc[i, 'user_collab_feature'] = user_feature

customers.head()
articles.head()

KeyError: 'quantity'

In [233]:
# Define feature selection and evaluation functions for hyperparameter tuning
def objective(params):
    # Feature selection: use RFE to select top N features
    # X = transactions.drop(['t_dat', 'article_id'], axis=1)
    y = transactions['article_id']
    model = lgb.LGBMRegressor(**params)
    selector = RFE(model, n_features_to_select=params['n_features'], step=params['step'])
    selector = selector.fit(X, y)
    X = X[X.columns[selector.support_]]
    
    # Train/test split: use time-based split
    train_end_date = transactions['t_dat'].max() - pd.DateOffset(weeks=1)
    X_train = X[transactions['t_dat'] <= train_end_date]
    y_train = y[transactions['t_dat'] <= train_end_date]
    X_val = X[transactions['t_dat'] > train_end_date]
    
    # Create class weights
    class_weights = compute_class_weight('balanced', np.unique(y_train), y_train)
    class_weights = dict(enumerate(class_weights))
    
    # Train a LightGBM model
    dtrain = lgb.Dataset(X_train, label=y_train, weight=y_train.map(class_weights))
    model = lgb.train(params, dtrain)
    
    # Predict recommended articles
    y_pred = model.predict(X_val)
    top_articles = articles.iloc[y_pred.argsort()[-10:][::-1]]['article_id'].tolist()
    return {'loss': -1 * top_articles, 'status': STATUS_OK}