In [1]:
import string
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import os
import re
import warnings

from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split

In [2]:
articles = pd.read_csv('articles.csv')
customers = pd.read_csv('customers.csv')
transactions_train = pd.read_csv('transactions_train.csv')
transactions_train['customer_id'] = transactions_train['customer_id'].apply(lambda x: int(x[-16:],16) ).astype('int64')
customers['customer_id'] = customers['customer_id'].apply(lambda x: int(x[-16:],16) ).astype('int64')
# handle missing values
articles.fillna(value=0, inplace=True)
customers.fillna(value=0, inplace=True)
transactions_train.fillna(value=0, inplace=True)

In [3]:
transactions_train = transactions_train.drop_duplicates(subset=['customer_id','article_id']).reset_index(drop = True)
customer_list = transactions_train.customer_id.value_counts()[:50].index.tolist()
customers_1 = customers.loc[customers['customer_id'].isin(customer_list)]
transactions_train_t = transactions_train.loc[transactions_train['customer_id'].isin(customer_list)]
transactions_train_test = transactions_train_t.loc[transactions_train_t['t_dat']>'2020-04-01'] 
transactions_train_train = transactions_train_t.loc[transactions_train_t['t_dat']<='2020-04-01'] 
transactions_train_test

,t_dat,customer_id,article_id,price,sales_channel_id
20587642,2020-04-02,1135991499650384534,857570001,0.033881,2
20587643,2020-04-02,1135991499650384534,869423001,0.084729,2
20588614,2020-04-02,-738104704126742956,730683041,0.033881,2
20589542,2020-04-02,-3864861336650713034,786304006,0.025407,2
20598202,2020-04-02,-4557035136527070563,857812004,0.042034,2
...,...,...,...,...,...
27304077,2020-09-22,2768447994533782618,889661001,0.066186,1
27304078,2020-09-22,2768447994533782618,865799005,0.033085,1
27304079,2020-09-22,2768447994533782618,918525001,0.049627,1
27304974,2020-09-22,2636587246054202986,752814020,0.033881,2
27304975,2020-09-22,2636587246054202986,906633002,0.050831,2

In [4]:
articles_t = articles.loc[articles['article_id'].isin(list(transactions_train_t['article_id']))]

In [5]:
merge_df = pd.DataFrame()
for customer in customers_1['customer_id']:
    new_df = pd.DataFrame()
    new_df['Buy'] = []
    #print(customer)
    x = [customers_1.loc[customers_1['customer_id']==customer]]*len(articles_t)
    #print(type(x))
    #new_df = new_df[x].reset_index(drop = True)
    new_df = pd.concat(x).reset_index(drop = True)#(pd.DataFrame(x)).reset_index(drop = True)
    print(new_df)

    #new_df = new_df.loc([customers_1.loc[customers_1['customer_id']==customer]]*len(articles_t)).reset_index(drop = True)

#     new_df = new_df.append([customers_1.loc[customers_1['customer_id']==customer]]*len(articles_t)).reset_index(drop = True)
    new_df['article_id'] = list(articles_t['article_id'])
    tran_temp = transactions_train_t.loc[transactions_train_t['customer_id']==customer]
    for article in list(tran_temp['article_id']):
        new_df.loc[(new_df['customer_id']==customer) & (new_df['article_id']==article),['Buy']] = 1

    #merge_df = pd.Series(new_df).reset_index(drop=True)
    merge_df = pd.concat([merge_df,new_df]).reset_index(drop = True)

               customer_id   FN  Active club_member_status
0      1135991499650384534  1.0     1.0             ACTIVE  \
1      1135991499650384534  1.0     1.0             ACTIVE
2      1135991499650384534  1.0     1.0             ACTIVE
3      1135991499650384534  1.0     1.0             ACTIVE
4      1135991499650384534  1.0     1.0             ACTIVE
...                    ...  ...     ...                ...
22919  1135991499650384534  1.0     1.0             ACTIVE
22920  1135991499650384534  1.0     1.0             ACTIVE
22921  1135991499650384534  1.0     1.0             ACTIVE
22922  1135991499650384534  1.0     1.0             ACTIVE
22923  1135991499650384534  1.0     1.0             ACTIVE

      fashion_news_frequency   age
0                  Regularly  51.0  \
1                  Regularly  51.0
2                  Regularly  51.0
3                  Regularly  51.0
4                  Regularly  51.0
...                      ...   ...
22919              Regularly  51.0
22920              Regularly  51.0
22921              Regularly  51.0
22922              Regularly  51.0
22923              Regularly  51.0

                                             postal_code
0      8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
1      8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
2      8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
3      8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
4      8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
...                                                  ...
22919  8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
22920  8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
22921  8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
22922  8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
22923  8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...

[22924 rows x 7 columns]
              customer_id   FN  Active club_member_status
0     -738104704126742956  1.0     1.0             ACTIVE  \
1     -738104704126742956  1.0     1.0             ACTIVE
2     -738104704126742956  1.0     1.0             ACTIVE
3     -738104704126742956  1.0     1.0             ACTIVE
4     -738104704126742956  1.0     1.0             ACTIVE
...                   ...  ...     ...                ...
22919 -738104704126742956  1.0     1.0             ACTIVE
22920 -738104704126742956  1.0     1.0             ACTIVE
22921 -738104704126742956  1.0     1.0             ACTIVE
22922 -738104704126742956  1.0     1.0             ACTIVE
22923 -738104704126742956  1.0     1.0             ACTIVE

      fashion_news_frequency   age
0                  Regularly  51.0  \
1                  Regularly  51.0
2                  Regularly  51.0
3                  Regularly  51.0
4                  Regularly  51.0
...                      ...   ...
22919              Regularly  51.0
22920              Regularly  51.0
22921              Regularly  51.0
22922              Regularly  51.0
22923              Regularly  51.0

                                             postal_code
0      80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
1      80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
2      80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
3      80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
4      80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
...                                                  ...
22919  80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
22920  80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
22921  80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
22922  80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
22923  80b6dd024c771fa4665cb10796f4393c83d37f863e6554...

[22924 rows x 7 columns]
               customer_id   FN  Active club_member_status
0      8572405339616664040  1.0     1.0             ACTIVE  \
1      8572405339616664040  1.0     1.0             ACTIVE
2      8572405339616664040  1.0     1.0             ACTIVE
3      8572405339616664040  1.0     1.0             ACTIVE
4      8572405339616664040  1.0     1.0             ACTIVE
...                    ...  ...     ...                ...
22919  8572405339616664040  1.0     1.0             ACTIVE
22920  8572405339616664040  1.0     1.0             ACTIVE
22921  8572405339616664040  1.0     1.0             ACTIVE
22922  8572405339616664040  1.0     1.0             ACTIVE
22923  8572405339616664040  1.0     1.0             ACTIVE

      fashion_news_frequency   age
0                  Regularly  40.0  \
1                  Regularly  40.0
2                  Regularly  40.0
3                  Regularly  40.0
4                  Regularly  40.0
...                      ...   ...
22919              Regularly  40.0
22920              Regularly  40.0
22921              Regularly  40.0
22922              Regularly  40.0
22923              Regularly  40.0

                                             postal_code
0      e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
1      e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
2      e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
3      e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
4      e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
...                                                  ...
22919  e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
22920  e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
22921  e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
22922  e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
22923  e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...

[22924 rows x 7 columns]
               customer_id   FN  Active club_member_status
0     -3864861336650713034  1.0     1.0             ACTIVE  \
1     -3864861336650713034  1.0     1.0             ACTIVE
2     -3864861336650713034  1.0     1.0             ACTIVE
3     -3864861336650713034  1.0     1.0             ACTIVE
4     -3864861336650713034  1.0     1.0             ACTIVE
...                    ...  ...     ...                ...
22919 -3864861336650713034  1.0     1.0             ACTIVE
22920 -3864861336650713034  1.0     1.0             ACTIVE
22921 -3864861336650713034  1.0     1.0             ACTIVE
22922 -3864861336650713034  1.0     1.0             ACTIVE
22923 -3864861336650713034  1.0     1.0             ACTIVE

      fashion_news_frequency   age
0                  Regularly  54.0  \
1                  Regularly  54.0
2                  Regularly  54.0
3                  Regularly  54.0
4                  Regularly  54.0
...                      ...   ...
22919              Regularly  54.0
22920              Regularly  54.0
22921              Regularly  54.0
22922              Regularly  54.0
22923              Regularly  54.0

                                             postal_code
0      da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
1      da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
2      da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
3      da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
4      da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
...                                                  ...
22919  da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
22920  da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
22921  da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
22922  da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
22923  da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...

[22924 rows x 7 columns]
               customer_id   FN  Active club_member_status
0     -7724193906943787184  0.0     0.0             ACTIVE  \
1     -7724193906943787184  0.0     0.0             ACTIVE
2     -7724193906943787184  0.0     0.0             ACTIVE
3     -7724193906943787184  0.0     0.0             ACTIVE
4     -7724193906943787184  0.0     0.0             ACTIVE
...                    ...  ...     ...                ...
22919 -7724193906943787184  0.0     0.0             ACTIVE
22920 -7724193906943787184  0.0     0.0             ACTIVE
22921 -7724193906943787184  0.0     0.0             ACTIVE
22922 -7724193906943787184  0.0     0.0             ACTIVE
22923 -7724193906943787184  0.0     0.0             ACTIVE

      fashion_news_frequency   age
0                       NONE  31.0  \
1                       NONE  31.0
2                       NONE  31.0
3                       NONE  31.0
4                       NONE  31.0
...                      ...   ...
22919                   NONE  31.0
22920                   NONE  31.0
22921                   NONE  31.0
22922                   NONE  31.0
22923                   NONE  31.0

                                             postal_code
0      e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
1      e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
2      e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
3      e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
4      e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
...                                                  ...
22919  e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
22920  e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
22921  e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
22922  e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
22923  e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...

[22924 rows x 7 columns]
               customer_id   FN  Active club_member_status
0      8775840678685643411  0.0     0.0             ACTIVE  \
1      8775840678685643411  0.0     0.0             ACTIVE
2      8775840678685643411  0.0     0.0             ACTIVE
3      8775840678685643411  0.0     0.0             ACTIVE
4      8775840678685643411  0.0     0.0             ACTIVE
...                    ...  ...     ...                ...
22919  8775840678685643411  0.0     0.0             ACTIVE
22920  8775840678685643411  0.0     0.0             ACTIVE
22921  8775840678685643411  0.0     0.0             ACTIVE
22922  8775840678685643411  0.0     0.0             ACTIVE
22923  8775840678685643411  0.0     0.0             ACTIVE

      fashion_news_frequency   age
0                       NONE  23.0  \
1                       NONE  23.0
2                       NONE  23.0
3                       NONE  23.0
4                       NONE  23.0
...                      ...   ...
22919                   NONE  23.0
22920                   NONE  23.0
22921                   NONE  23.0
22922                   NONE  23.0
22923                   NONE  23.0

                                             postal_code
0      207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
1      207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
2      207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
3      207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
4      207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
...                                                  ...
22919  207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
22920  207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
22921  207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
22922  207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
22923  207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...

[22924 rows x 7 columns]
               customer_id   FN  Active club_member_status
0      1137836553762819430  1.0     1.0             ACTIVE  \
1      1137836553762819430  1.0     1.0             ACTIVE
2      1137836553762819430  1.0     1.0             ACTIVE
3      1137836553762819430  1.0     1.0             ACTIVE
4      1137836553762819430  1.0     1.0             ACTIVE
...                    ...  ...     ...                ...
22919  1137836553762819430  1.0     1.0             ACTIVE
22920  1137836553762819430  1.0     1.0             ACTIVE
22921  1137836553762819430  1.0     1.0             ACTIVE
22922  1137836553762819430  1.0     1.0             ACTIVE
22923  1137836553762819430  1.0     1.0             ACTIVE

      fashion_news_frequency   age
0                  Regularly  46.0  \
1                  Regularly  46.0
2                  Regularly  46.0
3                  Regularly  46.0
4                  Regularly  46.0
...                      ...   ...
22919              Regularly  46.0
22920              Regularly  46.0
22921              Regularly  46.0
22922              Regularly  46.0
22923              Regularly  46.0

                                             postal_code
0      fa9d632ba12702507dfececb8df43952e3e375afa87367...
1      fa9d632ba12702507dfececb8df43952e3e375afa87367...
2      fa9d632ba12702507dfececb8df43952e3e375afa87367...
3      fa9d632ba12702507dfececb8df43952e3e375afa87367...
4      fa9d632ba12702507dfececb8df43952e3e375afa87367...
...                                                  ...
22919  fa9d632ba12702507dfececb8df43952e3e375afa87367...
22920  fa9d632ba12702507dfececb8df43952e3e375afa87367...
22921  fa9d632ba12702507dfececb8df43952e3e375afa87367...
22922  fa9d632ba12702507dfececb8df43952e3e375afa87367...
22923  fa9d632ba12702507dfececb8df43952e3e375afa87367...

[22924 rows x 7 columns]
               customer_id   FN  Active club_member_status
0      6025578233842836240  0.0     0.0             ACTIVE  \
1      6025578233842836240  0.0     0.0             ACTIVE
2      6025578233842836240  0.0     0.0             ACTIVE
3      6025578233842836240  0.0     0.0             ACTIVE
4      6025578233842836240  0.0     0.0             ACTIVE
...                    ...  ...     ...                ...
22919  6025578233842836240  0.0     0.0             ACTIVE
22920  6025578233842836240  0.0     0.0             ACTIVE
22921  6025578233842836240  0.0     0.0             ACTIVE
22922  6025578233842836240  0.0     0.0             ACTIVE
22923  6025578233842836240  0.0     0.0             ACTIVE

      fashion_news_frequency   age
0                       NONE  46.0  \
1                       NONE  46.0
2                       NONE  46.0
3                       NONE  46.0
4                       NONE  46.0
...                      ...   ...
22919                   NONE  46.0
22920                   NONE  46.0
22921                   NONE  46.0
22922                   NONE  46.0
22923                   NONE  46.0

                                             postal_code
0      5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...
1      5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...
2      5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...
3      5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...
4      5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...
...                                                  ...
22919  5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...
22920  5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...
22921  5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...
22922  5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...
22923  5d3f7210789634dc82e24f0944fbd19ec3c8ed1c46d25e...

[22924 rows x 7 columns]
               customer_id   FN  Active club_member_status
0      7952062577868193503  1.0     1.0             ACTIVE  \
1      7952062577868193503  1.0     1.0             ACTIVE
2      7952062577868193503  1.0     1.0             ACTIVE
3      7952062577868193503  1.0     1.0             ACTIVE
4      7952062577868193503  1.0     1.0             ACTIVE
...                    ...  ...     ...                ...
22919  7952062577868193503  1.0     1.0             ACTIVE
22920  7952062577868193503  1.0     1.0             ACTIVE
22921  7952062577868193503  1.0     1.0             ACTIVE
22922  7952062577868193503  1.0     1.0             ACTIVE
22923  7952062577868193503  1.0     1.0             ACTIVE

      fashion_news_frequency   age
0                  Regularly  22.0  \
1                  Regularly  22.0
2                  Regularly  22.0
3                  Regularly  22.0
4                  Regularly  22.0
...                      ...   ...
22919              Regularly  22.0
22920              Regularly  22.0
22921              Regularly  22.0
22922              Regularly  22.0
22923              Regularly  22.0

                                             postal_code
0      85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
1      85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
2      85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
3      85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
4      85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
...                                                  ...
22919  85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
22920  85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
22921  85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
22922  85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
22923  85c1197c3616e4597988edde1b58bb01ab60d00680ab28...

[22924 rows x 7 columns]
               customer_id   FN  Active club_member_status
0      3267368325910590416  0.0     0.0             ACTIVE  \
1      3267368325910590416  0.0     0.0             ACTIVE
2      3267368325910590416  0.0     0.0             ACTIVE
3      3267368325910590416  0.0     0.0             ACTIVE
4      3267368325910590416  0.0     0.0             ACTIVE
...                    ...  ...     ...                ...
22919  3267368325910590416  0.0     0.0             ACTIVE
22920  3267368325910590416  0.0     0.0             ACTIVE
22921  3267368325910590416  0.0     0.0             ACTIVE
22922  3267368325910590416  0.0     0.0             ACTIVE
22923  3267368325910590416  0.0     0.0             ACTIVE

      fashion_news_frequency   age
0                       NONE  46.0  \
1                       NONE  46.0
2                       NONE  46.0
3                       NONE  46.0
4                       NONE  46.0
...                      ...   ...
22919                   NONE  46.0
22920                   NONE  46.0
22921                   NONE  46.0
22922                   NONE  46.0
22923                   NONE  46.0

                                             postal_code
0      0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
1      0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
2      0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
3      0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
4      0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
...                                                  ...
22919  0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
22920  0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
22921  0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
22922  0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
22923  0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...

[22924 rows x 7 columns]
               customer_id   FN  Active club_member_status
0     -8030009826304683278  1.0     1.0             ACTIVE  \
1     -8030009826304683278  1.0     1.0             ACTIVE
2     -8030009826304683278  1.0     1.0             ACTIVE
3     -8030009826304683278  1.0     1.0             ACTIVE
4     -8030009826304683278  1.0     1.0             ACTIVE
...                    ...  ...     ...                ...
22919 -8030009826304683278  1.0     1.0             ACTIVE
22920 -8030009826304683278  1.0     1.0             ACTIVE
22921 -8030009826304683278  1.0     1.0             ACTIVE
22922 -8030009826304683278  1.0     1.0             ACTIVE
22923 -8030009826304683278  1.0     1.0             ACTIVE

      fashion_news_frequency   age
0                  Regularly  32.0  \
1                  Regularly  32.0
2                  Regularly  32.0
3                  Regularly  32.0
4                  Regularly  32.0
...                      ...   ...
22919              Regularly  32.0
22920              Regularly  32.0
22921              Regularly  32.0
22922              Regularly  32.0
22923              Regularly  32.0

                                             postal_code
0      aed5bdd26b024bdfef32c3bc88a4ebdb0e0f85d354e003...
1      aed5bdd26b024bdfef32c3bc88a4ebdb0e0f85d354e003...
2      aed5bdd26b024bdfef32c3bc88a4ebdb0e0f85d354e003...
3      aed5bdd26b024bdfef32c3bc88a4ebdb0e0f85d354e003...
4      aed5bdd26b024bdfef32c3bc88a4ebdb0e0f85d354e003...
...                                                  ...

In [6]:
merge_df['Buy'] = merge_df['Buy'].fillna(0)
merge_df= pd.merge(merge_df, articles, on='article_id', how='left')
print(merge_df)

                 customer_id   FN  Active club_member_status
0        1135991499650384534  1.0     1.0             ACTIVE  \
1        1135991499650384534  1.0     1.0             ACTIVE
2        1135991499650384534  1.0     1.0             ACTIVE
3        1135991499650384534  1.0     1.0             ACTIVE
4        1135991499650384534  1.0     1.0             ACTIVE
...                      ...  ...     ...                ...
1146195  2636587246054202986  1.0     1.0             ACTIVE
1146196  2636587246054202986  1.0     1.0             ACTIVE
1146197  2636587246054202986  1.0     1.0             ACTIVE
1146198  2636587246054202986  1.0     1.0             ACTIVE
1146199  2636587246054202986  1.0     1.0             ACTIVE

        fashion_news_frequency   age
0                    Regularly  51.0  \
1                    Regularly  51.0
2                    Regularly  51.0
3                    Regularly  51.0
4                    Regularly  51.0
...                        ...   ...
1146195              Regularly  70.0
1146196              Regularly  70.0
1146197              Regularly  70.0
1146198              Regularly  70.0
1146199              Regularly  70.0

                                               postal_code  article_id  Buy
0        8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...   108775015  0.0  \
1        8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...   108775044  1.0
2        8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...   110065001  0.0
3        8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...   110065011  0.0
4        8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...   111565001  0.0
...                                                    ...         ...  ...
1146195  3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...   946795001  0.0
1146196  3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...   947509001  0.0
1146197  3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...   947934001  0.0
1146198  3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...   952267001  0.0
1146199  3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...   956217002  0.0

         product_code  ... department_name  index_code          index_name
0              108775  ...    Jersey Basic           A          Ladieswear  \
1              108775  ...    Jersey Basic           A          Ladieswear
2              110065  ...  Clean Lingerie           B    Lingeries/Tights
3              110065  ...  Clean Lingerie           B    Lingeries/Tights
4              111565  ...    Tights basic           B    Lingeries/Tights
...               ...  ...             ...         ...                 ...
1146195        946795  ...           Skirt           A          Ladieswear
1146196        947509  ...           Belts           C  Ladies Accessories
1146197        947934  ...    Tights basic           B    Lingeries/Tights
1146198        952267  ...    Tights basic           B    Lingeries/Tights
1146199        956217  ...          Jersey           A          Ladieswear

        index_group_no  index_group_name section_no
0                    1        Ladieswear         16  \
1                    1        Ladieswear         16
2                    1        Ladieswear         61
3                    1        Ladieswear         61
4                    1        Ladieswear         62
...                ...               ...        ...
1146195              1        Ladieswear         15
1146196              1        Ladieswear         65
1146197              1        Ladieswear         62
1146198              1        Ladieswear         62
1146199              1        Ladieswear         18

                           section_name garment_group_no  garment_group_name
0                Womens Everyday Basics             1002        Jersey Basic  \
1                Womens Everyday Basics             1002        Jersey Basic
2                       Womens Lingerie             1017   Under-, Nightwear
3                       Womens Lingerie             1017   Under-, Nightwear
4        Womens Nightwear, Socks & Tigh             1021    Socks and Tights
...                                 ...              ...                 ...
1146195      Womens Everyday Collection             1012              Skirts
1146196          Womens Big accessories             1019         Accessories
1146197  Womens Nightwear, Socks & Tigh             1021    Socks and Tights
1146198  Womens Nightwear, Socks & Tigh             1021    Socks and Tights
1146199                    Womens Trend             1005        Jersey Fancy

                                               detail_desc
0                  Jersey top with narrow shoulder straps.
1                  Jersey top with narrow shoulder straps.
2        Microfibre T-shirt bra with underwired, moulde...
3        Microfibre T-shirt bra with underwired, moulde...
4        Semi shiny nylon stockings with a wide, reinfo...
...                                                    ...
1146195  Calf-length skirt in flock-print mesh with a g...
1146196  Narrow belt in leather with a metal buckle. Th...
1146197     Tights in soft lace with an elasticated waist.
1146198  Fine-knit tights with an elasticated waist tha...
1146199  Short, A-line dress in jersey with a round nec...

[1146200 rows x 33 columns]

In [7]:
x = merge_df.drop(columns=['Buy','FN','Active','club_member_status','fashion_news_frequency', 'postal_code', 'prod_name','product_type_name','product_group_name','graphical_appearance_name','colour_group_name','perceived_colour_value_name','perceived_colour_master_name','department_name','index_name','index_group_name','section_name','garment_group_name','detail_desc','index_code']) 
y = merge_df['Buy']


# x = np.array([[-1, -1], [-2, -1], [1, 1], [2, 1]])
# y = np.array([1, 1, 2, 2])
#x = x.values.reshape(-1, 1)
#x = x.transpose()
#y = y.values.reshape(1,-1)
#y = y.transpose()

# print(x.shape)
# print(y.shape)

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.8, random_state=42)
sgd = SGDClassifier(alpha=1, max_iter=10000)
sgd.fit(x_train,y_train)

SGDClassifier(alpha=1, max_iter=10000)

In [8]:
prediction = sgd.predict(x_test)

In [9]:
from sklearn.metrics import accuracy_score
# Reference: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html


acc = accuracy_score(y_test, prediction)
print('Accuracy:', acc)

Accuracy: 0.499075205025301

In [86]:
# top 12 recs
new_df = pd.DataFrame()
if '5854009424779598107' in x_test['customer_id'].values: #=='5854009424779598107':
    new_df['customer_id'] = x_test['customer_id']
    new_df['article_id'] = x_test['article_id']
    new_df['product_code'] = x_test['product_code']
    new_df['model_output'] = prediction
print(new_df.head(12))

                 customer_id  article_id  product_code  model_output
957265   5854009424779598107   819113007        819113           1.0
1056829  5854009424779598107   580102004        580102           0.0
728664   5854009424779598107   828067002        828067           1.0
746543   5854009424779598107   759108001        759108           0.0
208701   5854009424779598107   581781010        581781           0.0
331606   5854009424779598107   733098018        733098           0.0
790956   5854009424779598107   742561002        742561           0.0
429650   5854009424779598107   814586001        814586           1.0
1054842  5854009424779598107   398829008        398829           0.0
425265   5854009424779598107   755458006        755458           1.0
8987     5854009424779598107   711701001        711701           0.0
362053   5854009424779598107   831070001        831070           1.0